.content{
    width: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table,th,td{
    border: 1px solid black;
}
.one{
    width: 60%;
    background-color: red;
    padding-left: 2%;
}
.two{
    width: 90%;
    background-color: blue;
    padding-left: 2%;
}
.three{
    width: 50%;
    background-color: green;
    padding-left: 2%;
}
.four{
    width: 80%;
    background-color: grey;
    padding-left: 2%;
}
.five{
    width: 75%;
    background-color: yellowgreen;
    padding-left: 2%;
}