body {
    width: 100dvw;
    height: 100dvh;
    padding-top: 10%;
    
}
.container{
    border: 1px solid rgb(225, 80, 80);
    
    padding: 2%;
    justify-content: center;
    align-items: center;
}