body {
    width: 100dvw;

    justify-content: center;
    display: flex;

}

.contain-form {
    width: 50%;
    margin-top: 7%;
    padding: 2%;


    border-style: solid;
    border-width: 1px;
    border-radius: 2%;

}

.form-check {
    margin-top: 2%;
}

#button {
    margin-top: 2%;
}