<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/pop.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Document</title>
    <style>
      * {
        margin: 0%;
        padding: 0%;
      }
    </style>
  </head>

  <body class="flex flex-col w-full min-h-screen">
    <div id="navbar-container"></div>
    <div class="bg-[#820300] flex-1 relative flex flex-col text-white px-10">
      <div
        class="flex flex-col items-center justify-center mt-8 py-8 z-10 w-full h-full pb-8 bg-white mx-auto"
      >
        <div class="text-center text-4xl pt-24 text-black">
          Ruby On Rails
          <img
            src="image/rail-removebg-preview.png"
            class="mt-8 w-1/2 mx-auto rounded-lg max-w-96"
          />
        </div>
      </div>

      <div
        class="flex flex-col md:flex-row items-center justify-center mt-8 py-8 z-10 w-full my-8 h-full border-gray-950 border mx-auto rounded-lg shadow-lg"
      >
        <p class="text-xl md:px-24 px-4 text-white">
          Ruby on Rails (หรือเรียกสั้น ๆ ว่า Rails) เป็นเฟรมเวิร์ก (framework)
          สำหรับการพัฒนาเว็บแอปพลิเคชัน (web applications) ซึ่งใช้ภาษาโปรแกรม
          Ruby ในการเขียนโค้ดของมัน รูบี้ (Ruby)
          เป็นภาษาโปรแกรมที่โด่งดังและได้รับความนิยมจากความอ่านง่ายและการเขียนโค้ดที่เป็นมิตรกับผู้พัฒนา.
          Rails ถูกสร้างขึ้นโดย David Heinemeier Hansson ในปี 2003
          และได้รับความนิยมมากในชุดเวลาต่อมา. เฟรมเวิร์กนี้เน้นการพัฒนาแบบ
          "Convention over Configuration"
          ซึ่งหมายความว่ามีค่าเริ่มต้นที่ถูกกำหนดไว้ล่วงหน้าเพื่อให้นักพัฒนาไม่ต้องกำหนดค่ามากมาย
          และต้องการให้โปรแกรมเมอร์มีโครงสร้างโค้ดที่เป็นระเบียบและมีความทันสมัย
        </p>
      </div>
      <div class="bg-black mx-auto w-full rounded-lg shadow-lg">
        <!-- HTML Prettify -->
        <div>
          <pre
            class="pre-code-ception pt-6"
          > Example Code Ruby On Rails<code># app/controllers/products_controller.rb

class ProductsController < ApplicationController
  def index
    @products = Product.all
  end

  def show
    @product = Product.find(params[:id])
  end

  def new
    @product = Product.new
  end

  def create
    @product = Product.new(product_params)

    if @product.save
      redirect_to @product, notice: 'Product was successfully created.'
    else
      render :new
    end
  end

  private

  def product_params
    params.require(:product).permit(:name, :description, :price)
  end
end

# app/views/products/_form.html.erb

<%= form_with(model: @product, local: true) do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


</code></pre>
        </div>
      </div>
      <div
        class="flex flex-col md:flex-row items-center justify-center mt-8 py-8 z-10 w-full my-8 h-full border-gray-950 border mx-auto rounded-lg shadow-lg"
      >
        <div class="text-xl px-4 md:px-24 text-white">
          <p>
            Ruby on Rails (RoR)
            มีหลายข้อดีที่ทำให้มันเป็นเฟรมเวิร์กที่นักพัฒนามักทำนิยม ดังนี้:
          </p>
          <br />
          <ul class="list-disc pl-8">
            <li>
              การพัฒนาที่รวดเร็ว: Rails เน้นการพัฒนาที่รวดเร็วและมีความสะดวกสบาย
              ด้วยความสามารถในการสร้างโค้ดได้เร็วทำให้นักพัฒนาสามารถพัฒนาและทดสอบแอปพลิเคชันได้โดยเร็ว.
            </li>
            <br />
            <li>
              Security Features: Rails มีความสนใจถึงด้านความปลอดภัย
              มีสิ่งที่เรียกว่า "ความปลอดภัยตามต้นทาง" (Security by Design)
              ทำให้มีการป้องกันตั้งแต่ขั้นตอนการพัฒนา.
            </li>
            <br />
            <li>
              Gem System: Rails มีระบบ Gem
              ที่ช่วยในการเพิ่มฟีเจอร์หรือไลบรารีต่าง ๆ ในโปรเจ็กต์ง่าย ๆ
              ผ่านการเพิ่ม gem ลงในไฟล์ Gemfile และใช้คำสั่ง bundle install.
            </li>
            <br />
          </ul>
        </div>
      </div>

      <!-- Footer Container EiEi -->
    </div>
    <footer class="bg-[#161A30] shadow w-full mt-auto">
      <div id="footer-container"></div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="module" src="component.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script>
      function handleClick() {
        var mobileMenu = document.getElementById("mobile-menu");
        mobileMenu.classList.toggle("hidden");
      }
    </script>
  </body>
</html>
